In [1]:
import pandas as pd

## Q1: Create a Series with indexes = 1, 2, 3 and has three names.

In [89]:
index =[1,2,3]
name=['mohammed','shatha','ahmad']
se1=pd.Series(name,index=index)
se1

1    mohammed
2      shatha
3       ahmad
dtype: object

## Q2: Change indexes to 11, 12, 13.

In [90]:
se1.index=[11,12,13]

## Q3: Retrieve First and second elements.

In [93]:
print(se1[11],se1[12])

mohammed shatha

## Q4: Add duplicate elements, then remove the duplication.

In [65]:
se2={11:'mohammed',12:'shatha',15:'rayn'}
ser2=pd.Series(se2)
print(ser2)
print()

se3=pd.Series({2:"mohammed",14:"rayn"})
print(se3)
ser2= ser2.append(se3)
print()
print(ser2)
du=ser2
print()
print(du.drop_duplicates())

11    mohammed
12      shatha
15        rayn
dtype: object

2     mohammed
14        rayn
dtype: object

11    mohammed
12      shatha
15        rayn
2     mohammed
14        rayn
dtype: object

11    mohammed
12      shatha
15        rayn
dtype: object

C:\Users\Fzm20\AppData\Local\Temp\ipykernel_16576\1467443769.py:8: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ser2= ser2.append(se3)

## Q5: Create a Students DataFrame has three columns (ID, Name, GPA).

In [40]:
data={'ID':[1,2,3,4,5],
           'Name':['mohammed','shatha','moon','rayan','ali'],
            'GPA':[3.07,2.92,1.95,3.1,3.95]}
student=pd.DataFrame(data,columns=data.keys())
print(student)

   ID      Name   GPA
0   1  mohammed  3.07
1   2    shatha  2.92
2   3      moon  1.95
3   4     rayan  3.10
4   5       ali  3.95

## Q6: Read educ_figdp_1_Data.csv file and print the head.

In [67]:
edu=pd.read_csv("C:/all_folder/Tw/Pandas/educ_figdp_1_Data.csv")
print(edu)

     TIME                            GEO  \
0    2000  European Union (28 countries)
1    2001  European Union (28 countries)
2    2002  European Union (28 countries)
3    2003  European Union (28 countries)
4    2004  European Union (28 countries)
..    ...                            ...
379  2007                        Finland
380  2008                        Finland
381  2009                        Finland
382  2010                        Finland
383  2011                        Finland

                                              INDIC_ED Value  \
0    Total public expenditure on education as % of ...     :
1    Total public expenditure on education as % of ...     :
2    Total public expenditure on education as % of ...  5.00
3    Total public expenditure on education as % of ...  5.03
4    Total public expenditure on education as % of ...  4.95
..                                                 ...   ...
379  Total public expenditure on education as % of ...  5.90
380  Total public expenditure on education as % of ...  6.10
381  Total public expenditure on education as % of ...  6.81
382  Total public expenditure on education as % of ...  6.85
383  Total public expenditure on education as % of ...  6.76

    Flag and Footnotes
0                  NaN
1                  NaN
2                    e
3                    e
4                    e
..                 ...
379                NaN
380                NaN
381                NaN
382                NaN
383                NaN

[384 rows x 5 columns]

## Q7: Give an example shows the difference between loc and slicing?
**Note:**
- loc use the index labels as references.
- slice use the position as references.

In [81]:
edu.loc[40:50]

,TIME,GEO,INDIC_ED,Value,Flag and Footnotes
40,2004,Euro area (18 countries),Total public expenditure on education as % of ...,4.80,e
41,2005,Euro area (18 countries),Total public expenditure on education as % of ...,4.72,e
42,2006,Euro area (18 countries),Total public expenditure on education as % of ...,4.69,e
43,2007,Euro area (18 countries),Total public expenditure on education as % of ...,4.79,e
44,2008,Euro area (18 countries),Total public expenditure on education as % of ...,4.94,e
45,2009,Euro area (18 countries),Total public expenditure on education as % of ...,5.31,e
46,2010,Euro area (18 countries),Total public expenditure on education as % of ...,5.28,e
47,2011,Euro area (18 countries),Total public expenditure on education as % of ...,5.15,e
48,2000,Euro area (17 countries),Total public expenditure on education as % of ...,:,NaN
49,2001,Euro area (17 countries),Total public expenditure on education as % of ...,:,NaN
50,2002,Euro area (17 countries),Total public expenditure on education as % of ...,4.86,e

In [79]:
edu[40:50]

,TIME,GEO,INDIC_ED,Value,Flag and Footnotes
40,2004,Euro area (18 countries),Total public expenditure on education as % of ...,4.80,e
41,2005,Euro area (18 countries),Total public expenditure on education as % of ...,4.72,e
42,2006,Euro area (18 countries),Total public expenditure on education as % of ...,4.69,e
43,2007,Euro area (18 countries),Total public expenditure on education as % of ...,4.79,e
44,2008,Euro area (18 countries),Total public expenditure on education as % of ...,4.94,e
45,2009,Euro area (18 countries),Total public expenditure on education as % of ...,5.31,e
46,2010,Euro area (18 countries),Total public expenditure on education as % of ...,5.28,e
47,2011,Euro area (18 countries),Total public expenditure on education as % of ...,5.15,e
48,2000,Euro area (17 countries),Total public expenditure on education as % of ...,:,NaN
49,2001,Euro area (17 countries),Total public expenditure on education as % of ...,:,NaN